<mat-card class="expense-basic">
  <h3 color="primary">{{title}}</h3>  
   <!-- <h3 md-line color="primary">{{title}}</h3>   -->
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngFor="let entry of entries" class="form-row">
        <form-entry [entry]="entry" [form]="form" [displayMessage]="displayMessage" ></form-entry>
      </div>
      <div class="form-group col-xs-12 spacer">
        <button mat-raised-button color="primary" type="submit" [disabled]="!(form.valid && form.dirty)">Save</button>        
      </div>
    </form>
  </mat-card-content>
</mat-card>
 